<!-- START THE COMPANIES SECTION -->
<section id="companies" class="companies">
    <div class="container">
      <div class="row text-center">
        <h4 class="fw-bold lead mb-3">Trust by companies like</h4>
        <div class="heading-line mb-5"></div>
      </div>
    </div>

    <!-- START THE COMPANIES CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-2 ">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-1.png" alt="company 1 logo" title="Company 1"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-2.png" alt="company 2 logo" title="Company 2"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-3.png" alt="company 3 logo" title="Company 3"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-4.png" alt="company 4 logo" title="Company 4"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-5.png" alt="company 5 logo" title="Company 5"/>
          </div>
        </div>
        <div class="col-md-4 col-lg-2">
          <div class="companies__logo-box shadow-sm">
            <img src="../../assets/images/campanies/campany-6.png" alt="company 6 logo" title="Company 6"/>
          </div>
        </div>
      </div>
    </div>
</section>